p {
  margin: 20px;
}
h1 {
  color: teal;
  font-family:"Arial Black", Gadget, sans-serif;
  font-weight:bold;
  margin:15px;
}

h2 {
color: black;
font-size: 24px;
margin:15px;
}
h3 {
  color: teal;
  font-weight:bold;
text-align:center;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.col-lg-1 {
background: lightgrey
}
.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  background-color: teal;
  color: white;
}
.display-4 {
  color: teal;
  font-weight: bold;
  margin:15px
}
.col-lg-12 {
  color:teal;
  font-weight: bolder;
  margin:15px;
}

.navbar-light .navbar-brand {
  color:white
}